.Logo {
  margin: 2vh auto;
  width: auto;
  max-width: calc(10em * var(--text-multiplier)) !important;
}

@media (min-width: 1080px) {
  .Logo {
    max-width: 50% !important;
  }
}

.LogoTitle {
  font-family: "Limelight", cursive;
  font-size: calc(1.8em * var(--text-multiplier));
  text-shadow: #daa520 0px 5px 15px;
  text-align: center;
  margin: auto;
  -webkit-text-stroke: 1px #6e6e6e;
}

@media (min-width: 768px) {
  .LogoTitle {
    font-size: calc(2.5em * var(--text-multiplier));
  }
}

.About {
  padding: 2vh;
  margin: 4vh 0 7vh;
}
