.Footer {
  background-color: #6e6e6e;
  border-top: 0.3vh solid #daa520;
  height: calc(5vh * var(--text-multiplier));
  font-family: "Alata", sans-serif;
  color: #daa520;
  font-size: calc(0.3em * var(--text-multiplier));
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1vh;
}

.Links {
  display: flex;
  flex-direction: row;
  margin: 0 1vw;
}

.Links > div {
  padding-left: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.Links > div > a {
  text-decoration: none;
  color: #daa520;
}
