.NavbarCustom {
  font-family: "Alata", sans-serif;
  border-radius: 10px;
  background-color: #faf9f5;
  border: 3px solid #daa520;
  font-size: calc(0.6em * var(--text-multiplier));
}

.NavbarLink {
  color: #daa520 !important;
}

@media (min-width: 1080px) {
  .NavbarLink {
    color: #daa520 !important;
    text-shadow: #6e6e6e 2px 2px 3px;
  }
}

.Icon {
  margin: 0 2vw 0 2vw;
}

.Brand {
  font-family: "Limelight", cursive;
  font-size: calc(0.5em * var(--text-multiplier));
  color: #daa520 !important;
}

@media (min-width: 992px) {
  .Brand {
    display: none;
  }
}
