.Container {
  background: repeating-linear-gradient(
    to right,
    #828282,
    #828282 30px,
    #e0e0e0 30px,
    #e0e0e0 60px
  );
  box-shadow: 0px 0px 8px 2px rgb(59, 59, 59);
  color: white;
  height: 100%;
  padding-bottom: 15vh;
}

.logo {
  margin: 2vh auto;
  width: auto;
  max-width: calc(10em * var(--text-multiplier));
}

@media (min-width: 1080px) {
  .logo {
    max-width: 50%;
  }
}

.commonElement {
  background-color: #faf9f5;
  border-radius: 10px;
  border: 2px solid #daa520;
  color: #daa520;
  font-family: "Patrick Hand", cursive;
  font-size: calc(0.7em * var(--text-multiplier));
  opacity: 0.85;
}

.logoTitle {
  font-family: "Limelight", cursive;
  font-size: calc(1.8em * var(--text-multiplier));
  text-shadow: #daa520 0px 5px 15px;
  text-align: center;
  margin: auto;
  -webkit-text-stroke: 1px #6e6e6e;
}

@media (min-width: 768px) {
  .logoTitle {
    font-size: calc(2.5em * var(--text-multiplier));
  }
}

.about {
  padding: 2vh;
  margin: 4vh 0 7vh;
}
