:root {
  --text-multiplier: 1;
}

@media (min-width: 320px) {
  :root {
    --text-multiplier: 2;
  }
}

@media (min-width: 480px) {
  :root {
    --text-multiplier: 2.5;
  }
}

@media (min-width: 768px) {
  :root {
    --text-multiplier: 3;
  }
}

@media (min-width: 1024px) {
  :root {
    --text-multiplier: 3;
  }
}

@media (min-width: 1200px) {
  :root {
    --text-multiplier: 4;
  }
}

@media (min-width: 1920px) {
  :root {
    --text-multiplier: 5;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  background-color: #6c7a89 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
